/* style.css */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.url {
    margin-top: 20px;
    font-size: 18px;
    color: cyan;
}

button {
    background-color: #FF9900;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFCC00;
}